.contact {
  width: 200px;
  height: 238px;
  text-align: -webkit-center;
}

.contact-photo {
  width: 100%;
  /* border-radius: 50%; */
  /* margin: auto; */
}

.contact-photo-wrapper {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.contact-photo-wrapper .contact-photo {
  width: 100%;
}

.contact .contact-name {
  background: -webkit-gradient(radial, center, white);
  /* background: white; */
  margin-top: 8px;
}

.contact-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: calc(100% - 64px);
}

.contact-action {
  cursor: pointer;
  float: left;
  width: 100px;
  background: green;
  color: white;
  border-radius: 50%;
  height: 100px;
  padding: 26px 0;
}

.contact-action:last-child{
  background: red;
  float: right;
}
.buttons-area{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
}
