.contact {
  width: 200px;
  height: 275px;
  text-align: -webkit-center;
}

.contact-photo {
  width: 100%;
  /* border-radius: 50%; */
  /* margin: auto; */
}



.contact .contact-name {
  background: -webkit-gradient(radial, center, white);
  /* background: white; */
  margin-top: 8px;
}
