<div class="menu-list">
  <a class=" card" href="compose">
    <h1 class="card-title">email</h1>
    <span class="glyphicon glyphicon-inbox"></span>
  </a>
  <a class=" card" href="contacts">
    <h1 class="card-title">contacts</h1>
    <span class="glyphicon glyphicon-user"></span>
  </a>
  <a class=" card">
    <h1 class="card-title">photos</h1>
    <span class="glyphicon glyphicon-picture"></span>
  </a>
  <a class=" card">
    <h1 class="card-title">music</h1>
    <span class="glyphicon glyphicon-music"></span>
  </a>
  <a class=" card">
    <h1 class="card-title">email</h1>
    <span class="glyphicon glyphicon-inbox"></span>
  </a>
  <a class=" card" href="contacts">
    <h1 class="card-title">contacts</h1>
    <span class="glyphicon glyphicon-user"></span>
  </a>
  <a class=" card">
    <h1 class="card-title">photos</h1>
    <span class="glyphicon glyphicon-picture"></span>
  </a>
  <a class=" card">
    <h1 class="card-title">music</h1>
    <span class="glyphicon glyphicon-music"></span>
  </a>
</div>
