.menu-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.container {
  height: calc(90% - 112px);
  margin: 14% 0;
}

.card-group {
  flex-direction: row;
}

.card {
  border: red 3px solid;
  color: red;
  background: white;
  border-radius: 50%;
  height: 22vh;
  text-align: -webkit-center;
  vertical-align: middle;
  width: 22vh;
  margin: 5vh 10vh;
}

.card:nth-child(2) {
  color: yellow;
  border-color: yellow;
}

.card:nth-child(3) {
  color: #2196F3;
  border-color: #2196F3;
}

.card:nth-child(4) {
  color: darkmagenta;
  border-color: darkmagenta;
}

.card:nth-child(5) {
  color: green;
  border-color: green;
}

.card:hover {
  color: red;
  background: white;
}

.row {
  justify-content: space-around;
  margin: 36px 0;
}

.card-title {
  font-size: 25px;
}

header {
  margin: 20px;
}



